$border-color: #dee2e6;
$primary: #1379DF;
$primary-darken: #0D47A1;
$primary-darken-2: #1976D2;
$primary-darken-3: #1565C0;
$secondary: #545b62;
$success: #28a745;
$danger: #dc3545;
$warning: #ffc107;
$info: #17a2b8;
$light: #f8f9fa;
$dark: #343a40;
$link: #007bff;

$blue-grey: #607D8B;
$blue-grey-lighten-1: #78909C;
$blue-grey-lighten-2: #90A4AE;
$blue-grey-lighten-3: #B0BEC5;
$blue-grey-lighten-4: #B0BEC5;
